@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper .swiper-pagination {
  @apply mt-[1.875rem] relative celularmedio:mt-[1.2rem];
}

.carouselProducts .swiper-pagination .swiper-pagination-bullet {
  @apply w-[1.25rem] h-[0.75rem] rounded-full bg-[#9e9e9ede] cursor-pointer transition-all duration-1000 opacity-100 celularmedio:w-[0.6rem] celularmedio:h-[0.5rem] celularmedio:mb-4;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply w-[5rem] h-[0.75rem] rounded-none bg-[#9e9e9ede] cursor-pointer transition-all duration-1000 opacity-100 celularmedio:w-[3rem] celularmedio:h-[0.5rem];
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#313131];
}

.carouselProducts .swiper-pagination-bullet-active {
  @apply bg-[#313131];
}

.text-stroke {
  -webkit-text-stroke: 1px #074291;
  color: white;
}

.carousel1.swiper {
  @apply w-full;
}

.carousel2.swiper {
  @apply max-w-[1450px] py-0 px-10 tablet:px-0 tabletgrande:px-0;
}

.scrollbar {
  @apply block overflow-y-scroll
  /* aqui tava block */;
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 0.2rem;
  }
}

.error-message {
  max-height: 1.5em; /* ou ajuste conforme necessário */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
