@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  @apply z-0
}

.swiper .swiper-wrapper {
  @apply z-0
}

 .swiper .swiper-pagination {
   @apply mt-[1.875rem] relative celular:mt-[1.2rem]
  }

 .swiper-pagination .swiper-pagination-bullet {
    @apply w-[6.25rem] h-[0.75rem] rounded-none bg-[#9e9e9ede] cursor-pointer transition-all duration-1000 opacity-100 celular:w-[3rem] celular:h-[0.5rem]
  }

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#313131]
}

.text-stroke {
  -webkit-text-stroke: 1px #074291;
  color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
